# Compiled source
*.pyc
*.pyo
*.pyd

# Virtual environment
.env
venv
*.egg-info
fakeenv

# Byte code
__pycache__/

# OS or other files
.DS_Store
*.log
*.swp
*.swo

# ML files
fake_review_predictor.ipynb

# Datasets
fake reviews dataset.csv